/*
 * Globals
 */

 /*F57D31 orange*/
 /*00529B blue*/

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #fff;
  background: url("http://1.cdn.nhle.com/nhl/images/upload/2014/07/OKPOSO_JT_FANTASY_072814.jpg"); 
  background-size: contain;
  background-repeat: no-repeat;  
  font-size: 1em;
  line-height: 10em;
}
body {
  color: #F57D31;
  text-align: center;
}

#nameColor{
  color: #F57D31;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  vertical-align: bottom;
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: middle;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
  width: 200px;
  display: inline;
}

/* Padding for spacing */
.inner {
  padding: 1em 0em 1em 0em;
  background-color: #00529B; 
  height: 50%;
}


.dayTarget{
  font-size: 2em;
  color: #F57D31;
  display: inline-block;
  line-height: 1em;
  vertical-align: middle;
  /*width: 25%;*/
}

.displayInfo{
  display: inline-block;
  vertical-align: middle;
  font-size: .8em;
  width: 50%;
  line-height: 1.4em;
}

.displayFooter{
  display: inline-block;
  text-align: right;
  width: 20%;
  text-transform: none;
  line-height: 1.2em;
  vertical-align: middle;
}

.displayFooter a{
  color: #fff;
  text-transform: uppercase;

}

.displayFooter a:hover{
  color: #F57D31;
  text-transform: uppercase;
}



/*
 * Header
 */


@media (min-width: 768px) {
 
  .cover-container{
    width: 400px; 
  }
}


/*
 * Cover
 */

.cover {
  /*  padding: 0 20px;*/
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  color: #fff;
}


.inner hr{
  width: 66%;
}

ul{
  list-style: none;
  padding: 0;
}


/*
 * Footer
 */

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
  font-family: font-family: 'Oswald', sans-serif;
}

.mastfoot a:hover{
  color: #F57D31;
}

/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
 
  .mastfoot {
    position: fixed;
    bottom: 0;
    display: inline-block;
    }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: bottom;
  }
  /* Handle the widths */
  .mastfoot,
  .cover-container {
    width: 200px; /* Must be percentage or pixels for horizontal alignment */
  }

  body{
    background-size: cover;
  }

.dayTarget{
  font-size: 8em;
  color: #F57D31;
  display: inline-block;
  line-height: 1em;
  vertical-align: bottom;
  /*width: 25%;*/
}

.displayInfo{
  display: inline-block;
  vertical-align: middle;
  font-size: 2em;
  width: 50%;
  line-height: 1em;
}
.displayFooter{
  display: inline-block;
  text-align: right;
  width: 20%;
  text-transform: none;
  line-height: 1.4em;
  vertical-align: middle;
}

.displayFooter a{
  color: #fff;
  text-transform: uppercase;

}

.displayFooter a:hover{
  color: #F57D31;
  text-transform: uppercase;
}


}

@media (min-width: 992px) {
  .mastfoot,
  .cover-container {
    width: 300px;
  }


.dayTarget{
  display: inline-block;
  line-height: 1em;
  vertical-align: bottom;
  /*width: 25%;*/
}

.displayInfo{
  display: inline-block;
  vertical-align: middle;
  font-size: 2em;
  width: 50%;
  line-height: 1em;
}

.displayFooter{
  display: inline-block;
  text-align: right;
  width: 20%;
  text-transform: none;
  line-height: 1.4em;
  vertical-align: middle;
}

.displayFooter a{
  color: #fff;
  text-transform: uppercase;

}

.displayFooter a:hover{
  color: #F57D31;
  text-transform: uppercase;
}
}