 /*F57D31 orange*/
 /*00529B blue*/

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

ul{
  list-style: none;
  padding: 0;
}

/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #00529B;
  background: url("http://1.cdn.nhle.com/nhl/images/upload/2014/07/OKPOSO_JT_FANTASY_072814.jpg"); 
  background-size: contain;
  background-repeat: no-repeat;  
  font-size: 1em;
  /*line-height: 10em;*/
  color: #F57D31;
  text-align: center;
}


/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.dayTarget{
  font-size: 8em;
  color: #F57D31;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


/* CIRCLES */
.outerCircle {
	border-radius: 50%;
	width: 30em;
	height: 30em; 
	background-color: #00529B;
	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: center;
	/* width and height can be anything, as long as they're equal */
}

/*
 * Affix and center
 */

@media (min-width: 768px) {
 

  body{
    background-size: cover;
  }

/*.dayTarget{
  font-size: 6em;
  color: #F57D31;
  display: inline-block;
  line-height: 1em;
  vertical-align: bottom;
  width: 25%;
}*/

}

@media (min-width: 992px) {

  body{
    background-size: cover;
  }

/*.dayTarget{
  display: inline-block;
  line-height: 1em;
  vertical-align: bottom;
}
*/

}